@tailwind base;
@tailwind components;
@tailwind utilities;

body, * {
    @apply transition-all;
}

p{
    @apply text-xs;
}
h1{
    @apply text-base font-bold;
}
h3{
    @apply text-2xl font-bold;
}
a:hover{
    @apply underline;
}
li a{
    @apply text-sm;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.spinner {
    animation: spin 1.5s linear infinite;
}